<a href="https://colab.research.google.com/github/OliviaKinsley4/Homeworks/blob/main/HW2_Kinsley_Olivia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

Question 1

In [1]:
n = 0
while n < 10:
  print(n)
  if n == 4:
    break
  n += 1

0
1
2
3
4

Question 2

In [2]:
n = 0
while n < 5:
  print(n)
  n += 1
else:
  print("5 is no longer less than 5")

0
1
2
3
4
5 is no longer less than 5

In [ ]:
fruitlist = ["blueberry", "peach", "mango", "apple"]
for i in fruitlist:
    print("I like", i)
    if i == "mango":
      break
print("Is apple really a fruit?")

I like blueberry
I like peach
I like mango
Is apple really a fruit?

Question 4

In [ ]:
n = 30
sum = 0
i=1

while i<= n: 
  sum = sum + i
  i = i+1

print("The sum is", sum)

The sum is 465

Question 5

In [ ]:
grade = 85

if grade >=90:
  print("A")
elif grade >=80: 
  print("B")
elif grade >=70:
  print("C")
elif grade >=60:
  print("D")
else: 
  print ("F")

B

Question 6

In [ ]:
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for names, grades in marks.items(): 
  print(names, grades)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [ ]:
import numpy as np

In [ ]:
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [ ]:
np.array(list(marks.values())).mean()

75.2

In [ ]:
np.array(list(marks.values())).min()

55

In [ ]:
np.array(list(marks.values())).max()

90

In [2]:
for names in ['Andy', 'Amy', 'James', 'Jules', 'Arthur']:
  if 'J' in names:
    break
  print(names)

Andy
Amy

In [3]:
for names in ['Andy', 'Amy', 'James', 'Jules', 'Arthur']:
  if 'J' in names:
    continue
  print(names)

Andy
Amy
Arthur